.block {
    background: red;
    width: 800px;
    height: 800px;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.yellow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.yellow-content {
    background: yellow;
    width: 100px;
    height: 100px;
}

.blue {
    background: blue;
    width: 300px;
    padding: 25px;
    overflow-y: scroll;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.blue-content {
    background: mediumorchid;
    width: 275px;
    height: 100px;
    flex-shrink: 0;
}

.green {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.green-content {
    background: green;
    width: 150px;
    height: 150px;
}